<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorAutor</servlet-name>
        <servlet-class>controlador.ControladorAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTema</servlet-name>
        <servlet-class>controlador.ControladorTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUbicacion</servlet-name>
        <servlet-class>controlador.ControladorUbicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLibro</servlet-name>
        <servlet-class>controlador.ControladorLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPrestamo</servlet-name>
        <servlet-class>controlador.ControladorPrestamo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSocio</servlet-name>
        <servlet-class>controlador.ControladorSocio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDisponibilidad</servlet-name>
        <servlet-class>controlador.ControladorDisponibilidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCarrera</servlet-name>
        <servlet-class>controlador.ControladorCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exportacion</servlet-name>
        <servlet-class>controlador.Exportacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JasperReport</servlet-name>
        <servlet-class>controlador.JasperReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSesion</servlet-name>
        <servlet-class>controlador.ControladorSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLibroHasAutor</servlet-name>
        <servlet-class>controlador.ControladorLibroHasAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCodLibro</servlet-name>
        <servlet-class>controlador.ControladorCodLibro</servlet-class>
    </servlet>
        <servlet-mapping>
        <servlet-name>ControladorCodLibro</servlet-name>
        <url-pattern>/ControladorCodLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAutor</servlet-name>
        <url-pattern>/ControladorAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTema</servlet-name>
        <url-pattern>/ControladorTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUbicacion</servlet-name>
        <url-pattern>/ControladorUbicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLibro</servlet-name>
        <url-pattern>/ControladorLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPrestamo</servlet-name>
        <url-pattern>/ControladorPrestamo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSocio</servlet-name>
        <url-pattern>/ControladorSocio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDisponibilidad</servlet-name>
        <url-pattern>/ControladorDisponibilidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCarrera</servlet-name>
        <url-pattern>/ControladorCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exportacion</servlet-name>
        <url-pattern>/Exportacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JasperReport</servlet-name>
        <url-pattern>/JasperReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSesion</servlet-name>
        <url-pattern>/ControladorSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLibroHasAutor</servlet-name>
        <url-pattern>/ControladorLibroHasAutor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
